#page {
  display               : grid;
  width                 : 100vw;
  height                : 100vh;
  margin                : 5px;
  padding               : 0;
  grid-column-gap       : 0px;
  grid-row-gap          : 0px;
  grid-template-columns : 20% auto 40%;
  grid-template-rows    : 10% auto auto auto;
  grid-template-areas   : "head head head"
                          "nav1 nav2 nav3"
                          "main main nav4"
                          "foot foot foot";
}


// Variables generales
@mixin flex_general {
  display          : flex;
  align-items      : center;
  justify-content  : space-around;
  justify-content  : center;
}

#page > header {
  @include flex_general;
  // background-color : #393433;
  grid-area        : head;
}

#page > .article1 {
  background-color : #f5512f;
  @include flex_general;
  flex-direction   : column;
  grid-area        : nav1;
}

#page > .article2 {
  background-color : #fafafa;
  flex-direction   : column;
  @include flex_general;
  grid-area        : nav2;
}

#page > .article3 {
  background-color : #c85037;
  flex-direction   : column;
  @include flex_general;
  grid-area        : nav3;
}

#page > .article4 {
  background-color : #834b40;
  flex-direction   : column;
  @include flex_general;
  grid-area        : nav4;
}

#page > .main {

  background-color : #ffff64;
  @include flex_general;
  grid-area        : main;
}

#page > footer {
  @include flex_general;
  grid-area        : foot;
}
