#page {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 5px;
  padding: 0;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 2.5% 20% auto 40% 2.5%;
  grid-template-rows: 10% auto auto auto;
  grid-template-areas: "x1 head head head x2" "x1 nav1 nav2 nav3 x2" "x1 main main nav4 x2" "x1 foot foot foot x2";
}

#page > header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  grid-area: head;
}

#page > .article1 {
  grid-area: nav1;
  overflow: auto;
}

#page > .article2 {
  background-color: #fafafa;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  grid-area: nav2;
}

#page > .article3 {
  background-color: #c85037;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  grid-area: nav3;
}

#page > .article4 {
  background-color: #834b40;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  grid-area: nav4;
}

#page > .main {
  grid-area: main;
  overflow: auto;
}

#page > footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  grid-area: foot;
}

#page > .x1 {
  grid-area: x1;
}

#page > .x2 {
  grid-area: x2;
}

.collection a.collection-item {
  color: #1a1a1a !important;
}

a.brand-logo {
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  #page {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 5px;
    padding: 0;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "head" "nav1" "nav2" "nav3" "nav4" "main" "foot";
  }

  #page > header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    grid-area: head;
  }

  #page > .article1 {
    min-height: 160px;
    overflow: auto;
    grid-area: nav1;
  }

  #page > .article2 {
    background-color: #fafafa;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    grid-area: nav2;
  }

  #page > .article3 {
    background-color: #c85037;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    grid-area: nav3;
  }

  #page > .article4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    grid-area: nav4;
  }

  #page > .main {
    overflow: auto;
    grid-area: main;
  }

  #page > footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    grid-area: foot;
  }

  .collection a.collection-item {
    color: #1a1a1a !important;
  }
}

/*# sourceMappingURL=base.css.map */
