.collection a.collection-item {
  color: #1a1a1a !important; }

.collapsible.popout > li {
  margin: 0; }

a.brand-logo {
  padding-left: 10px; }

* :not(.sidenav .collapsible) {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -ms-transition: all .5s ease; }

#page {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 5px;
  padding: 0;
  grid-column-gap: 3px;
  grid-row-gap: 0;
  grid-template-columns: 2.5% auto auto auto 2.5%;
  grid-template-rows: 10% auto auto auto;
  grid-template-areas: "x1 head head head x2" "x1 nav2 nav2 nav3 x2" "x1 main main nav4 x2" "x1 foot foot foot x2"; }

#page > header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  grid-area: head; }

#page > .article2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  background-color: #fafafa;
  flex-direction: column;
  grid-area: nav2; }

#page > .article3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  flex-direction: column;
  grid-area: nav3; }

#page > .article4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  background-color: #834b40;
  flex-direction: column;
  grid-area: nav4; }

#page > .main {
  overflow: auto;
  grid-area: main; }

#page > footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  grid-area: foot; }

#page > .x1 {
  grid-area: x1; }

#page > .x2 {
  grid-area: x2; }

@media only screen and (max-width: 600px) {
  .collection a.collection-item {
    color: #1a1a1a !important; }

  .collapsible.popout > li {
    margin: 0; }

  a.brand-logo {
    padding-left: 10px; }

  * :not(.sidenav .collapsible) {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -ms-transition: all .5s ease; }

  #page {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 5px;
    padding: 0;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto 30% auto;
    grid-template-areas: "head" "nav1" "nav2" "nav3" "nav4" "main" "foot";
    transition-duration: 0.5s; }

  #page > header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    grid-area: head; }

  #page > .article1 {
    min-height: 160px;
    overflow: auto;
    grid-area: nav1; }

  #page > .article2 {
    background-color: #fafafa;
    flex-direction: column;
    grid-area: nav2; }

  #page > .article3 {
    background-color: #c85037;
    flex-direction: column;
    grid-area: nav3; }

  #page > .article4 {
    grid-area: nav4; }

  #page > .main {
    overflow: auto;
    grid-area: main; }

  #page > footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    grid-area: foot; }

  .article2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center; }

  .article3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center; }

  .article4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center; } }

/*# sourceMappingURL=base.css.map */
